*{
  margin:0;
  padding:0;
  /* font-size: 1rem; */
}

.cab {

    display: flex;
    justify-content: space-between;
    background-color: #333;
  }
  
  .cab .logo  {

    align-self: center;
   /* width:15%;  */
  
  
  }
  
  .cab  .logo img {
    padding-top: 4%;
    padding-left: 2%;
    /* height:15%; */

    
  
  }

 .cab .title{   
 
    color: white;
    font-size:38px;
    align-self: center;
    text-align: center;
  }
  
#button {
    background-color: #f7f3f3;
    /* margin-right:5%; */
   
    /* height: 30vh; */
  }
  .btn img{
    
    margin-right:5%;/* height: 15vh; */
  }
  
  

  /* .btn img:hover {
    transform:scale(2,1)
    justify-content:space-between;

  } */
  
  
/*   
  nav .menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 24px;
  } */

  .converter{
  
    background-color: rgb(27, 152, 69);
    margin-bottom: 100px;
    padding-left: 3px;
    }
   /* .converter input .select{
    margin-top:0;
    display:flex;
   } */
    .qrc{
      display:inline-flex;
      vertical-align:super;
    }
    input{ 
    margin-top:1%;   
    border-radius:5px;
    background-color: rgb(248, 249, 249);
    width:60%;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    color:black; 
    margin-bottom:1px; 
    }

    .select{
      margin-top:0%;   
      border-radius:5px;
      background-color: rgb(248, 249, 249);
      width:30%;
      height: 44px;
      text-align: center;
      color:rgb(143, 65, 65); 
      margin-bottom:0px;
    }
    
    .labcon{
    width:120px;
    color:white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1px; 
    padding-left:2px; 
    }
    

  /* ============================================================================================= */
  /* Media Queries */
  /* --------------------------------------------------------------------------------------- */

  @media (max-width: 670px) { 

     
  .cab  .logo img {
    padding-top: 4%;
    padding-left: 2%;

  }
    .cab .title{ 
      font-size:18px;
      align-self: center;
    }
    .btn img{
      width:100%;
      align-content:center;
    
    }

    input{ 
      margin-top:1%;   
      border-radius:5px;
      background-color: rgb(248, 249, 249);
      width:65%;
      height: 40px;
      text-align: center;
      font-size: 0.7rem;
      color:black; 
      margin-bottom:1px; 
      }

    .select{
      margin-top:0%;   
      border-radius:5px;
      background-color: rgb(248, 249, 249);
      width:30%;
      height: 44px;
      text-align: center;
      color:rgb(46, 9, 97); 
      margin-bottom:0px;
      font-size: 0.5rem;
    }

  
  }
